body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
}

header p {
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 1.5em;
    font-style: italic;
}

main {
    padding: 20px 0;
}

section {
    padding: 20px 0;
   
}

section:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

section h2 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

#about img.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    border: 5px solid #77B5FE;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    background: #77B5FE;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 28%;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
}

ul li:hover {
    background: #559fd3;
}

.project {
    text-align: center;
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.project img:hover {
    transform: scale(1.05);
}

a {
    color: #77B5FE;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}
